:root {
    --bg-primary:#000;
    --text-light:#fff;
    --text-dark: #1D1D1F;
    --title-primary-color: #f5f5f7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED289;
    font-family: "roboto";
}
header {
    height: fit-content;
    padding: 12px 0;
    
    top: 0%;
    z-index: 1;
    position: sticky;
    
    background-color: var(--bg-primary);
}
header nav ul {
    padding: 0 2re m;
    margin: 0 auto;
    width:fit-content;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}
header nav ul a {
    text-decoration: none;
    color: var(--text-light);
   }
header nav ul a li {
    height: fit-content;
    min-width: fit-content;
    padding: 0 0.75rem;

    font-size: 13px;

    cursor: pointer;
    list-style: none;
}
main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
main section {
    text-align: center;
    position: relative;
}
main section img {
    width: 100%;
    height: auto;
}
main section a {
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--action-color);
}
main section a:hover{
    text-decoration: underline;
}
main .main-section h1 {
    color: var(--title-primary-color);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;
}
main .main-section h2 {
    color: var(--subtitle-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: -0.11px;
    margin-bottom: 1rem;
}
main section h2 span {
    font-size: 1rem;
}
main .spirited-section > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
main .spirited-section > div:last-child {
    bottom: 50px;
}
main .spirited-section > div:first-child {
    top: 105px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
}
main .spirited-section > div:first-child p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--spirited-main-color);
}
main section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
main .spirited-section p {
    color: var(--title-primary-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.11px;
}
main .spirited-section span {
    color: var(--text-light);
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    letter-spacing: 0.23px;
}
main .iPhone-section h2 {
    color: var(--text-dark);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;
}
main .iPhone-section p {
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: -0.11px;
    margin-bottom: 1rem;
}
main .iPhone-section .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
main .iPhone-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#iPhone14 {
    position: absolute;
    font-size: 30px;
    top: 60px;
    left: 250px;
    color: var(--title-primary-color);
}
#text-iPhone14 p{  
    position: absolute;
    top: 100px;
    left: 300px;
    color: var(--title-primary-color);
    font-weight:lighter;
}
#text-iPhone14 a{  
    position: absolute;
    top: 130px;
    left: 295px;
    font-size: 13px;
}
#text-iPhone14 a + a{  
    position: absolute;
    top: 130px;
    left: 385px;
    font-size: 13px;
}
#iPad {
    position: absolute;
    font-size: 30px;
    top: 50px;
    left: 980px;
}
#text-iPad p {
    position: absolute;
    top: 90px;
    left: 910px;
}
#text-iPad a {
    position: absolute;
    top: 120px;
    left: 950px;
    font-size: 13px;
}
#text-iPad a + a {
    position: absolute;
    top: 120px;
    left: 1030px;
    font-size: 13px;
}